body {
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#2f2727), to(black));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  margin: 0;
      padding: 0;
  }
  .logo {
    position: absolute;
    top: 7%;
    left: 50%;
    margin-bottom: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: 2px solid #d6b70a;
    width: 80px;
    height: auto;
    opacity: 0.7;
    filter: grayscale(40%) sepia(100%) brightness(109%) saturate(241%) opacity(100%) contrast(137%) drop-shadow(0px 0px 0px #d8991cda);
    -webkit-filter: grayscale(40%) sepia(100%) brightness(109%) saturate(241%) opacity(100%) contrast(137%) drop-shadow(0px 0px 0px #cdb00e);
    -moz-filter: grayscale(40%) sepia(100%) brightness(109%) saturate(241%) opacity(50%) contrast(137%) drop-shadow(0px 0px 0px #a18b0d);
    box-shadow: 0 5px 10px rgba(252, 244, 244, 0.3);
  }
  

  .footer {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-align: center;
    
    width: 100%; /* Убедитесь, что футер занимает всю ширину */
  }
  
  /* .footer p {
    display: inline-block;
    margin: 0 10px;
   
  } */
  .title-st {
    font-family: 'Arial', sans-serif;
    display: inline-block;
    top: -50%;
     color: rgb(127, 127, 127)
  }
  
.Stake-Take-logo {
  margin-left: 30%;
}


  .walletAddress{
    border-radius: 1px solid rgb(248, 244, 244);
    color: goldenrod;
    
  }
  
  .root{
    text-align: center;
    margin-top: 100px;
  }
  
  .walletAddressButton
  {
    text-align: center;
    position: fixed;
    background-color: rgba(255, 217, 0, 0.658) !important;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 160px;
    cursor: pointer;
    padding: 15px 32px;
    transition-duration: 0.4s;
  }
  
  .walletAddressButton:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
  .walletAddressButton:active {
    background-color: #d6b70ada;
    border-color: #000000;
    transform: scale(.96);
  }
  
  .walletAddressButton:disabled {
    border-color: #ffffffda;
    color: #000000;
    cursor: not-allowed;
    opacity: 1;
  }
  
  .imageThumbnail {
    text-align: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
   header{
    position: fixed;
margin-bottom: -150px;

  }
  .container {
    position: relative;
    text-align: center;
          padding: 20px;
          max-width: 1200px;
          max-height: 700px;
          margin: 0 auto;
          justify-content: center;
        }
  
        .mobl {
          text-align: center;
        }
  
        @media (max-width: 767px) {
          .container {
            padding: 15px;
          }
        }
  
        @media (min-width: 768px) and (max-width: 991px) {
          .container {
            padding: 20px;
          }
        }
  
        @media (min-width: 992px) {
          .container {
            padding: 30px;
          }
        }
  .mobl {
  
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #bbb;
  }
  .mobl .stroke {
    border: 2px solid #dfdfdf;
    padding: 3px 2px 3px 7px;
    border-radius: 6px;
    font-weight: 400;
  }
  
  p {
    width: 320px;
    margin-right: 100px;
    font-weight: bold;
    color: goldenrod;
  margin-left: 10px;
    letter-spacing: 1px;
  }

  
  .tags-input span {
    background: #bbb;
    margin-right: 7px;
    color: #fff;
    padding: 4px 7px;
    border-radius: 20px;
  }
  .tags-input span[data-selected] {
    background: #f4f6f6;
  }
  .tags-input::after {
    content: "";
    background: #888;
    width: 1px;
    height: 19px;
    margin: -1px 0 0 -1px;
    display: none;
    -webkit-animation: blink 0.5s infinite alternate;
            animation: blink 0.5s infinite alternate;
  }
  .tags-input1:focus {
    border-color: #494949;
    outline: none;
  }
  .tags-input1:focus[data-cursor]::after {
    display: block;
  }
  
  
  
    @media screen and (max-width: 500px) {
          .container {
            min-height: 90vh;
            padding: 20px 10px;
          }
  
          .mobl {
            font-size: 10px;
          }
  
          .canvas-container {
            height: calc(90% - 60px);
          }
        }
  
  @media screen and (max-width: 736px) {
    .tags-input:focus[data-cursor]::after {
      display: none;
    }
  }
  .tags-input1.tags-input + .mobl {
    color: #696a6a;
  }
  .tags-input1.tags-input + .mobl span {
    border-color: #d6b70ada;
  }
  
  @-webkit-keyframes blink {
    0% {
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
