* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: -webkit-gradient(radial, center center, 0, center center, 500, from(rgba(69, 69, 68, 0.821)), to(#1a1917));

}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.popup {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%,240%);
  background-color: rgba(0, 0, 0, 0.452);
  border: 1px solid black;
  display: none;
  border-radius: 10px;
  width: 520px;
  height: 140px;
  border: 1px solid rgb(201, 200, 191);
  line-height: 2;
}




.show {
  display: block;
}


.container {
  max-width: 1000px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.Frame {
   width: 580px;
  height: 700px;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#2f2727), to(black));
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 10 0 10px rgba(40, 39, 39, 0.758);
  margin: 0 auto;
  border: 1px solid rgb(143, 133, 133);
}

.logo {
  border-radius: 50px 50px 50px 50px;
  border: 2px solid #d6b70a;
  width: 100px;
  height: auto;

  opacity: 0.7;
  filter: grayscale(40%) sepia(100%) brightness(109%) saturate(241%) opacity(100%) contrast(137%) drop-shadow(0px 0px 0px #d8991cda);
-webkit-filter: grayscale(40%) sepia(100%) brightness(109%) saturate(241%) opacity(100%) contrast(137%) drop-shadow(0px 0px 0px #cdb00e);
-moz-filter: grayscale(40%) sepia(100%) brightness(109%) saturate(241%) opacity(50%) contrast(137%) drop-shadow(0px 0px 0px #a18b0d);
box-shadow: 0 5px 10px rgba(252, 244, 244, 0.3);
}

.mobl {

  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #bbb;
}

.mobl  span {
  border: 2px solid #ffffff;
  padding: 3px 2px 3px 7px;
  border-radius: 6px;
  font-weight: 400;
}
h5 span {
  border: 2px solid #111111;
  padding: 3px 2px 3px 7px;
  border-radius: 6px;
  font-weight: 400;
}

.button_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 140px;

}


.footer {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  text-align: center;
}

.footer p {
  display: inline-block;
  margin: 0 10px;
  color: #333;
}


@media (max-width: 1000px) {
  .container {
    padding: 0;
  }

  .Frame {
    width: 90%;
  }
}
